<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New client</title>
    </head>
    <body>
        <h3>Let's add a new client!</h3>
        <form method="POST">
            <label>First name</label><br>
            <input type="text" name="name"/><br><br>
            <label>Email</label><br>
            <input type="text" name="email"/><br><br>
            <label>Age</label><br>
            <input type="text" name="age"/><br><br>
            <input type="submit" value="send"/>
        </form>
    </body>
</html>