<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Редактирование записи</title>
    </head>
    <body>
        <h3>Редактирование записи</h3>
        <form method="POST">
            <input type="hidden" name="id" value="{{.ID}}"/>
            <label>First name</label><br>
            <input type="text" name="name" value="{{.Name}}"/><br><br>
            <label>Email</label><br>
            <input type="text" name="email" value="{{.Email}}" /><br><br>
            <label>Age</label><br>
            <input type="text" name="age" value="{{.Age}}" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>